# Enable mod_rewrite
RewriteEngine On

# Check if the requested file or directory exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite URLs to remove .php extension
RewriteRule ^([^/]+)$ $1.php [L]